body{
    margin-top: 70px;
}

.bg-empresa{
    background-color: rgb(220, 67, 20);
}

.navbar{
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}

#carousel-destaques{
    width: 90%;
    margin: 0 auto;
}

.titulo{
    border-bottom: 8px solid #777;
    width: fit-content;
    margin: 0 auto;
}
.carousel-caption h5, .carousel-caption p{
    color: yellow;
    text-shadow: 2px 2px 0px black;
}
.carousel-caption{
background-color: rgba(0, 0, 0, 0.322);
margin: 0 auto;
width: 50%;
}

#seta-sobe{
    display: block;
    background-color: #777;
    color: black;
 position: fixed;
 right: 10px;
 bottom: 10px;
 height: 40px;
 width: 35px;
 font-size: 25px;
 padding-left: 8px;
 border-radius: 15px;

}


#where{
    color: white;
    font-size: 25px;
    text-align: center;
}